body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#map {
    height: 100vh;
}
.custom-range{
    height: 2.5em !important;
    display: block;
}
.icon-flip::before{
    transform: scaleX(-1);
}
#play.paused + [for="play"] > i.on-not-paused {
    display: none;
}
#play:not(.paused) + [for="play"] > i.on-paused {
    display: none;
}
.season-percents {
    transition: 100ms linear;
}